.LatestArticles {
    margin-top: 0px;
}

.LatestArticlesComponent:first-child {
    border-top: none;
    margin-top: 90px;
}

.latest-articles-heading {
    position: relative;
    top: 100px;
}

@media screen and (max-width: 1280px) {
    .LatestArticlesComponent:first-child {
        margin-top: 40px;
    }

    .latest-articles-heading {
        top: 40px;
    }
}